<div style="display:flex; flex-direction: column; align-items: center; margin: 1em auto; width: 55%; padding: 2rem">
    <mat-card appearance="outlined">
        <div style="display:flex; flex-direction: column; align-items: center; flex-wrap: wrap;">
            <mat-card-header>
                <h4 style="font-size: 1.75em; margin: 1em 0;">
                    About Me
                </h4>
            </mat-card-header>
            <mat-card-content>
                <div style="text-align: center; padding: 1em;">
                    <p style="font-size: 1.5em; margin-top: -.5em;"> I'm Sam and I love shrimp! My interest in aquariums began when YouTube autoplay 
                        started a video by Sherpa Design. From there, I started watching other aquarist channels and was always most charmed when little shrimp hands
                        were chowing down on biofilm. How cute! I knew one day I had to have my own, and now here we are! I currently raise Neocardinia Shrimp and 
                        own lines of Cherry and Orange Rili. I hope to add more to my collection soon!  </p>
                </div>
            </mat-card-content>
        </div>
    </mat-card>
</div>
