<div style="min-width: 977x">
  <div style="display: flex; justify-content: center">
    <div>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div style="display: flex; justify-content: center">
          <div style="display: flex; align-items: center">
            <h1
              style="
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',
                  sans-serif;
                font-size: 7em;
              "
            >
              MIDMO
            </h1>
          </div>
          <div>
            <img
              style="
                height: 20vh;
                width: 20vw;
                padding: 1em;
                max-width: 249px;
                max-height: 281px;
                min-width: 249px;
                min-height: 281px;
              "
              [src]="imagePath"
            />
          </div>
          <div style="display: flex; align-items: center">
            <h1
              style="
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',
                  sans-serif;
                font-size: 7em;
              "
            >
              SHRIMP GIRL
            </h1>
          </div>
        </div>
      </a>
    </div>
    <a routerLink="cart" routerLinkActive="active" ariaCurrentWhenActive="page">
    <div style="display: flex">
      <mat-icon
        matBadge="{{numberOfCartItems}}"
        aria-hidden="false"
        style="font-size: 2.5em; width: 100%; height: 100%"
        >shopping_cart</mat-icon
      >
    </div>
    </a>
  </div>
  <div style="margin-top: -1em">
    <mat-divider></mat-divider>
  </div>
</div>
