<div style="display:flex; align-items: center; flex-direction: column;">
    <!-- <h1>Homegrown shrimp and plants from the heart of Missouri!</h1> -->
    <div style="width: 50em; height: 25%;">
        <mat-grid-list cols="2" rowHeight="30em">
            <mat-grid-tile>
                <mat-card appearance="outlined" class="custom-card">
                    <mat-card-content class="tile-content">
                        <a
                        routerLink="products/red-cherry"
                        routerLinkActive="active"
                        ariaCurrentWhenActive="page"
                        >
                            <button mat-button>
                                <img src="assets/websitepictures/redcherrysized1.jpg" class="tile-image">
                                <h2> Red Cherry Neocardinia</h2>
                            </button>
                        </a>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card appearance="outlined" class="custom-card">
                    <mat-card-content class="tile-content">
                        <a
                        routerLink="products/bloody-mary"
                        routerLinkActive="active"
                        ariaCurrentWhenActive="page"
                        >
                            <button mat-button>
                                <img mat-card-image src="assets/websitepictures/bloodymaryresized1.jpg" class="tile-image">
                                <h2> Bloody Mary Neocardinia</h2>
                            </button>
                        </a>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card appearance="outlined" class="custom-card">
                    <mat-card-content class="tile-content">
                        <a
                        routerLink="products/galaxy-snowflake-blue"
                        routerLinkActive="active"
                        ariaCurrentWhenActive="page"
                        >
                            <button mat-button>
                                <img src="assets/websitepictures/galaxysnowflakeblueresized1.jpg" class="tile-image">
                                <h2> Blue Galaxy Snowflake Cardinia</h2>
                            </button>
                        </a>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card appearance="outlined" class="custom-card">
                    <mat-card-content class="tile-content">
                        <a
                        routerLink="products/panda-black"
                        routerLinkActive="active"
                        ariaCurrentWhenActive="page"
                        >
                            <button mat-button>
                                <img src="assets/websitepictures/pandablackresized1.jpg" class="tile-image">
                                <h2> Black Panda Cardinia</h2>
                            </button>
                        </a>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <!-- <mat-grid-tile>
                <a
                routerLink="products/susswassertang"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >
                    <button mat-button>
                        <img src="assets/websitepictures/Susswassertangresized.jpg">
                        <p>Süsswassertang</p>
                    </button>
                </a>
                </mat-grid-tile>
            <mat-grid-tile>
                <a
                routerLink="products/monstera-thai-constellation"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >
                    <button mat-button>
                        <img src="assets/websitepictures/monsterathaiconstellation.jpg">
                        <p>Thai Constellation Monstera</p>
                    </button>
                </a>
            </mat-grid-tile> -->
        </mat-grid-list>
    </div>
    <p style="margin:2em"> What started as two shrimp in a single, desktop nano tank has turned into multiple breeder tanks and many beloved colonies!</p>
</div>


