<div style="display:flex; align-items: center; flex-direction: column;">
    <h1>Homegrown shrimp and plants from the heart of Missouri!</h1>
    <div style="width: 100%; height: 25%;">
        <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile>
                <a
                routerLink="products/red-cherry"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >
                    <button mat-button>
                        <img src="assets/websitepictures/redcherrysized1.jpg">
                        <p> Red Cherry Neocardinia</p>
                    </button>
                </a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a
                routerLink="products/bloody-mary"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >
                    <button mat-button>
                        <img src="assets/websitepictures/bloodymaryresized1.jpg">
                        <p> Bloody Mary Neocardinia</p>
                    </button>
                </a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a
                routerLink="products/galaxy-snowflake-blue"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >
                    <button mat-button>
                        <img src="assets/websitepictures/galaxysnowflakeblueresized1.jpg">
                        <p> Blue Galaxy Snowflake Cardinia</p>
                    </button>
                </a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a
                routerLink="products/panda-black"
                 routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >
                    <button mat-button>
                        <img src="assets/websitepictures/pandablackresized1.jpg">
                        <p> Black Panda Cardinia</p>
                    </button>
                </a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a
                routerLink="products/susswassertang"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >
                    <button mat-button>
                        <img src="assets/websitepictures/Susswassertangresized.jpg">
                        <p>Süsswassertang</p>
                    </button>
                </a>
                </mat-grid-tile>
            <mat-grid-tile>
                <a
                routerLink="products/monstera-thai-constellation"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >
                    <button mat-button>
                        <img src="assets/websitepictures/monsterathaiconstellation.jpg">
                        <p>Thai Constellation Monstera</p>
                    </button>
                </a>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <p style="margin:2em"> What started as two shrimp in a single, desktop nano tank has turned into multiple breeder tanks, many beloved colonies, and plenty of plants to surround them!</p>
</div>


