<nav class="nav-bar">
  <div class="nav-button">
    <button mat-flat-button [mat-menu-trigger-for]="Neocardinia">
      Neocardinia
    </button>
    <mat-menu #Neocardinia="matMenu">
      <a
        routerLink="products/red-cherry"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><button mat-menu-item>Red Cherry</button>
      </a>
      <a
        routerLink="products/bloody-mary"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <button mat-menu-item>Bloody Mary</button>
      </a>
      <button mat-menu-item>Neocardinia Care</button>
    </mat-menu>
  </div>
  <div style="margin: 0.5em">
    <button mat-flat-button [mat-menu-trigger-for]="Cardinia">Cardinia</button>
    <mat-menu #Cardinia="matMenu">
      <a
        routerLink="products/galaxy-snowflake-blue"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <button mat-menu-item>Blue Galaxy Snowflake</button>
      </a>
      <a
        routerLink="products/panda-black"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <button mat-menu-item>Black Panda</button>
      </a>
      <button mat-menu-item>Cardinia Care</button>
    </mat-menu>
  </div>
  <div style="margin: 0.5em">
    <button mat-flat-button>About</button>
  </div>
  <div style="margin: 0.5em">
    <a routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page">
      <button mat-flat-button>Contact</button>
    </a>
  </div>
</nav>
