<div>
  <div style="display: flex; justify-content: center">
    <div style="display: flex; align-items: center">
      <h1
        style="
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          font-size: 7em;
        "
      >
        MIDMO
      </h1>
    </div>
    <div>
      <!-- <mat-card appearance="outlined" style="height: 20vh; width: 20vw"> -->
      <img style="height: 20vh; width: 20vw; padding: 1em" [src]="imagePath" />
      <!-- </mat-card> -->
    </div>
    <div style="display: flex; align-items: center">
      <h1
        style="
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          font-size: 7em;
        "
      >
        SHRIMP GIRL
      </h1>
    </div>
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>
  <div>
    <!-- <button mat-flat-button [mat-menu-trigger-for]="Neocardinia">
      Neocardinia
    </button> -->
  </div>
</div>
